<div class="container mx-auto">
  <lock-screen *ngIf="!apiCollectionAccess"></lock-screen>

  <div *ngIf="apiCollectionAccess">
    <div class="font-bold text-[32px]">API Collection 1</div>
    <div class="text-sm mb-7">API Description niiijijijijijii ncnscwncnascn iwjdijqidjijiwqijq</div>
    <div class="grid grid-cols-5">
      <div class="col-span-1 border border-black">
        <div class="py-[18px] px-4 h-full">
          <div *ngFor="let apiDocumentation of apiDocumentation" class="mb-5">
            <div class="text-base font-bold mb-3">{{apiDocumentation.category}}</div>
            <div class="grid grid-cols-4 gap-4" *ngFor="let api of apiDocumentation.apis">
              <div class="text-sm col-span-1">{{api.method}}</div>
              <div class="text-sm col-span-3 cursor-pointer" (click)="selectAPIDocumentation(api)">{{api.name}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-span-4 border border-black">
        <div class="py-5 px-8">
          <div class="font-bold text-base ">{{selectingAPIDocumentation.name}}</div>
          <div class="text-sm leading-normal text-justify">{{selectingAPIDocumentation.description}}
          </div>
          <div class="grid grid-cols-8 mt-7">
            <div class="col-span-6">
              <div class="text-sm font-bold">Request Payload</div>
              <response-table class="" [tableData]="selectingAPIDocumentation.requestPayload"></response-table>

              <div class="text-sm font-bold mt-12">Response Payload</div>
              <response-table class="" [tableData]="selectingAPIDocumentation.responseParameter"></response-table>
            </div>

            <div class="col-span-2 button-focus ml-5">
              <div class="w-full" *ngFor="let anchor of anchorText">
                <button nz-button
                        class="text-xl w-full h-fit border border-black {{selectingAnchor == anchor ? 'bg-[#59C3FF]' :'bg-[#CAE5FF]'}} py-2.5"
                        (click)="changeAnchorText(anchor)">
                  {{anchor}}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
