<div>
  <form [formGroup]="validateForm" nz-form *ngIf="!loadingPersonalInformation else loadingTpl">
    <!--Username readonly-->
    <div *ngIf="!editMode" class="pb-[30px]">
      <div class="text-sm text-gray-500">Username</div>
      <div class="appearance-none px-0 w-full text-input text-gray-900 bg-transparent border-0">
        {{personalInformation.username}}
      </div>
    </div>
    <!--Username edit-->
    <div *ngIf="editMode" class="w-1/2">
      <text-input [fieldRequired]="true" [submittedTry]="submittedTry"
                  errorMessage="Please input your username!"
                  fieldTitle="Username" formControlName="username"
                  placeholder="Enter username"></text-input>
    </div>

    <!--Email-->
    <div class="pb-[30px]">
      <div class="text-sm text-gray-500">Email</div>
      <div class="appearance-none px-0 w-full text-input text-gray-900 bg-transparent border-0">
        {{personalInformation.email}}
      </div>
    </div>

    <!--Organisation-->
    <div class="pb-[30px]">
      <div class="text-sm text-gray-500">Organisation</div>
      <div class="appearance-none px-0 w-full text-input text-gray-900 bg-transparent border-0">
        {{personalInformation.organisation}}
      </div>
    </div>

    <div *ngIf="!editMode" class="mt-4 primary-button">
      <button (click)="editProject()" class="bg-primary-900 h-full
                    font-bold text-white
                    text-center rounded-lg text-button" nz-button>
        Update Profile
      </button>
    </div>
    <div *ngIf="editMode" class="mt-4 flex">
      <div class="primary-button">
        <button (click)="savePersonalInformation()" class="bg-primary-900 h-full w-full
                        font-bold text-white px-[32px]
                        text-center rounded-lg text-button" nz-button>
          Save
        </button>
      </div>
    </div>
  </form>
</div>
<ng-template #loadingTpl>
  <nz-skeleton></nz-skeleton>
</ng-template>
