<div class="flex items-center gap-5 my-[10px]">
  <div>
    <button (click)="redirectToToday()" nz-button nzType="primary">Today</button>
  </div>
  <!--next & previous month-->
  <div class="flex items-center">
    <span (click)="changeMonth(this.currMonth - 1)"
          class="material-icons-outlined rounded-full text-title cursor-pointer hover:bg-gray-200 active:bg-gray-300">chevron_left</span>
    <span (click)="changeMonth(this.currMonth + 1)"
          class="material-icons-outlined rounded-full text-title cursor-pointer hover:bg-gray-200 active:bg-gray-300">chevron_right</span>
  </div>
  <!--current month & year-->
  <div class="flex items-center gap-2">
    <div class="text-title">{{months[currMonth]}}</div>
    <div class="text-title">{{currYear}}</div>
  </div>
</div>
<!--Calendar-->
<div class="">
  <div class="w-full grid grid-cols-7">
    <div *ngFor="let dayOfTheWeek of daysOfTheWeek"
         class="px-[8px] mx-[4px] pb-[5px] flex justify-center">{{dayOfTheWeek}}</div>
  </div>

  <div *ngFor="let row of calendarDate;  let i = index" class="w-full relative mh-min-[120px] h-[120px]">
    <!--Use to show date-->
    <div class=" grid grid-cols-7 absolute z-20 w-full ">
      <div *ngFor="let day of row" class="flex justify-center pt-[4px] px-[8px]
             mx-[4px] border-t border-x-0 border-b-0 border-solid border-gray-300 ">
        <div class="{{day.info === 'current'? ' text-black ':' text-gray-400 '}}
                     {{day.info === 'today'? ' text-white bg-sky-600 rounded-full px-[5px]':''}}">{{day.date | date:'dd'}}</div>
      </div>
    </div>
    <!--Empty space-->
    <div class=" grid grid-cols-7 absolute z-10 w-full ">
      <div (click)="clickEventOnDate(day.date)" *ngFor="let day of row"
           class="flex justify-center h-[110px] cursor-pointer"></div>
    </div>
    <!--Use to show event-->
    <div class=" grid grid-cols-7 h-[120px]  h-min-[120px] pt-[30px]">
      <div *ngFor="let eventRow of eventList[i]" class="relative text-gray-400 items-end">
        <div (click)="clickEventOnEvent(eventDate.clickResponse || '')" *ngFor="let eventDate of eventRow"
             class="absolute inset-x-0 z-30 cursor-pointer pl-[5px] text-black h-[22px]
                     {{ eventDate.level === 1 ? 'mt-[26px]' : eventDate.level === 2 ? 'mt-[52px]': ''}} {{eventDate.color =='red' ? 'bg-red-400': eventDate.color == 'yellow'? 'bg-yellow-400' : 'bg-green-400'}}
                     {{eventDate.isEnd ? 'rounded-r-md mr-[10px]':''}} {{eventDate.isStart ? 'rounded-l-md':''}}">{{eventDate.title || ' '}}
        </div>
      </div>
    </div>
  </div>
</div>
