.ant-input-group > .ant-input:last-child, .ant-input-group-addon:last-child {
  border-bottom-left-radius: 8px;
}

.float-label {
  position: relative;
}

.label {
  font-size: 20px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 12px;
  top: 6px;
  transition: 0.2s ease all;
}

.label-float {
  top: 6px;
  font-size: 16px;
}

.ant-input {
  padding: 16px 12px 4px 11px;
}


.ant-input-status-error:not(.ant-input-disabled):not(.ant-input-borderless).ant-input,
.ant-input-status-error:not(.ant-input-disabled):not(.ant-input-borderless).ant-input:hover{
  background-color: #D9D9D9;
}
