<div class="container mx-auto">
  <div class="font-bold text-[58px] py-[18px]">All Products</div>
  <div class="grid grid-cols-5">
    <div class="col-span-1 border">
      <div class="py-[22px] px-[36px] bg-[#F5F5F5] h-full">
        <div>Filter By</div>
        <div>
          <form nz-form [formGroup]="validateForm">
            <div>
              <nz-form-item>
                <nz-form-control>
                  <nz-checkbox-wrapper class="w-full" (nzOnChange)="log($event)">
                    <div *ngFor="let item of apiCollection" class="my-4">
                      <label nz-checkbox [nzValue]="item.category">{{item.category}}</label>
                    </div>
                  </nz-checkbox-wrapper>
                </nz-form-control>
              </nz-form-item>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-span-4 border">
      <div class="py-[18px] px-[27px] bg-[#CAE5FF5C]">
        <div class="font-bold text-[40px]">Browse All Documentation</div>
        <div *ngFor="let item of selectedApiCollection" class="my-[20px]">
          <div class="text-[32px] font-bold">{{item.category}}</div>
          <div class="grid grid-cols-3 gap-4">
            <div *ngFor="let api of item.apis" class="cols-span-1">
              <nz-card class="bg-[#10064D] rounded">
                <div class="text-white font-bold text-[20px]">{{api.api_collection_name}}</div>
                <div class="text-white text-[16px] text-justify">{{api.description}}</div>
                <div class="flex justify-end cursor-pointer text-[14px] text-[#DBFF00] underline" (click)="viewDocs(api.id)">
                  View Docs
                </div>
              </nz-card>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
