<div class="h-screen">
  <div class="bg-primary-900">
    <admin-header></admin-header>
  </div>

  <div class="container md:mx-auto md:px-0 px-[20px]">
    <notification-alert class="mt-[10px]"></notification-alert>

    <calendar (callClickEventOnDateRequest)="openNotificationDrawerCreate($event)"
              (callClickEventOnEventRequest)="openNotificationDrawerEdit($event)"
              (triggerChangeDateEvent)="initNotificationEvent()"
              [(currMonth)]="currMonth" [(currYear)]="currYear" [(date)]="date"
              [eventList]="eventList"></calendar>

  </div>
</div>

<nz-drawer
  (nzOnClose)="closeNotificationDrawer()" [nzFooter]="footerTpl"
  [nzTitle]="editNotification ? 'Edit Notification' : 'Create Notification'"
  [nzVisible]="createNotificationDrawerVisibility" nzPlacement="right"
  nzSize="large">
  <ng-container *nzDrawerContent>
    <div *ngIf="!loadingEditNotificationDrawer ; else loadingTpl">
      <form [formGroup]="validateForm" nz-form>
        <!--Title-->
        <text-input [fieldRequired]="true" [submittedTry]="submittedTry"
                    errorMessage="Please input title"
                    fieldTitle="Title" formControlName="title"
                    placeholder="title"></text-input>
        <!--Project Description-->
        <textarea-input [fieldRequired]="true" [submittedTry]="submittedTry"
                        errorMessage="Please input your project description!"
                        fieldTitle="Description" formControlName="description"
                        placeholder="Enter Project Description"></textarea-input>
        <div class="flex justify-between">
          <!--Select Date-->
          <range-date-input [fieldRequired]="true" [submittedTry]="submittedTry"
                            errorMessage="Please input date"
                            fieldTitle="Period" formControlName="rangeDate"></range-date-input>
          <!--Color-->
          <div>
            <div class="text-gray-500 text-sm mb-[10px]">Color</div>
            <div class="flex items-center gap-3">
              <div (click)="changeColor('green')"
                   class="cursor-pointer h-[32px] w-[32px] rounded-md hover:border-2 hover:border-solid hover:p-[4px] border-sky-600
                    {{notificationColor === 'green' ? 'p-[4px] border border-solid border-2': ''}}">
                <div class="bg-green-400 h-full w-full"></div>
              </div>
              <div (click)="changeColor('yellow')"
                   class="cursor-pointer h-[32px] w-[32px] rounded-md hover:border-2 hover:border-solid hover:p-[4px] border-sky-600
                    {{notificationColor === 'yellow' ? 'p-[4px] border border-2 border-solid': ''}}">
                <div class="bg-yellow-400 h-full w-full"></div>
              </div>
              <div (click)="changeColor('red')"
                   class="cursor-pointer h-[32px] w-[32px] rounded-md hover:border-2 hover:border-solid hover:p-[4px] border-sky-600
                    {{notificationColor === 'red' ? 'p-[4px] border border-2 border-solid': ''}}">
                <div class="bg-rose-400 h-full w-full"></div>
              </div>
            </div>
          </div>
        </div>
      </form>
      <rich-text-editor [(htmlContent)]="htmlContent" fieldTitle="Announcement Content"></rich-text-editor>
    </div>
  </ng-container>
</nz-drawer>
<ng-template #footerTpl>
  <div class="flex justify-end gap-4">
    <button (click)="openDeleteNotificationModal()"
            *ngIf="editNotification"
            class="bg-red-600 text-white px-[32px] rounded text-button font-bold cursor-pointer">
      Delete
    </button>
    <button (click)="createSaveNotification()"
            class="bg-primary-900 text-white px-[32px] rounded text-button font-bold"
            nz-button>{{editNotification ? 'Save' : 'Create'}}
    </button>
  </div>
</ng-template>

<ng-template #loadingTpl>
  <nz-skeleton></nz-skeleton>
</ng-template>
