<div class="mx-auto container">
  <div class="mt-[18px] text-[32px] font-bold">Project Name 1</div>
  <div class=" grid justify-items-end">
    <button nz-button class="bg-primary-900 h-full
                    font-bold text-[14px] py-2.5 text-white px-[32px]
                    text-center rounded-lg" (click)="changeTabs('settings')">
      Settings
    </button>
  </div>

  <div class="my-8 grid grid-cols-12">
    <div class="col-span-2 button-focus">
      <div class="w-full">
        <button nz-button
                class="text-xl w-full h-fit border border-black {{selectingTab == 'statistics' ? 'bg-[#59C3FF]' :'bg-[#CAE5FF]'}} py-2.5"
                (click)="changeTabs('statistics')">Statistics
        </button>
      </div>
      <div class="w-full">
        <button nz-button
                class="text-xl w-full h-fit border border-black {{selectingTab == 'credentials' ? 'bg-[#59C3FF]' :'bg-[#CAE5FF]'}} py-2.5"
                (click)="changeTabs('credentials')">
          Credentials
        </button>
      </div>
      <div class="w-full">
        <button nz-button
                class="text-xl w-full h-fit border border-black {{selectingTab == 'api' ? 'bg-[#59C3FF]' :'bg-[#CAE5FF]'}} py-2.5"
                (click)="changeTabs('api')">API
          Collections
        </button>
      </div>
    </div>
    <div class="col-span-10 px-8 py-[18px] min-h-[540px] border border-black">
      <settings *ngIf="selectingTab== 'settings'" [projectName]="'Project Name 1'" [projectId]="projectId"
                [projectDescription]="'Project Description 1'"></settings>
    </div>
  </div>
</div>
