<div>
  <nz-spin [nzSpinning]="updating">
    <form nz-form [formGroup]="validateForm">

      <div class="flex justify-between items-center">
        <div class="font-bold text-[20px]">Project Name</div>
        <div>
          <button nz-button class="bg-primary-900 h-full
                    font-bold text-[14px] py-2.5 text-white px-[32px]
                    text-center rounded-lg" (click)="deleteProject()">
            Delete Project
          </button>
        </div>
      </div>
      <div class="my-4">
        <div *ngIf="!editMode" class="text-[16px]">
          {{projectName}}
        </div>
        <nz-form-item *ngIf="editMode" class="grid w-3/4 ">
          <nz-form-control nzErrorTip="Please input your project name!">
            <input class="rounded bg-[#D9D9D9]" formControlName="name" placeholder="Enter Project Name"
                   nz-input/>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div class="my-2.5 font-bold text-[20px]">
        Project Description
      </div>

      <div class="my-4">
        <div *ngIf="!editMode" class="text-[16px]">
          {{projectDescription}}
        </div>
        <nz-form-item *ngIf="editMode" class="grid w-3/4">
          <nz-form-control nzErrorTip="Please input your project description!">
            <div class="">
              <textarea rows="4" nz-input class="rounded bg-[#D9D9D9]" formControlName="description"
                        placeholder="Enter Project Description"></textarea>
            </div>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div *ngIf="!editMode" class="mt-20">
        <button nz-button class="bg-primary-900 h-full
                    font-bold text-[14px] py-2.5 text-white px-[32px]
                    text-center rounded-lg" (click)="editProject()">
          Edit Project
        </button>
      </div>
      <div *ngIf="editMode" class="mt-20 flex">
        <div class="grid grid-cols-2 gap-12">
          <div class="col-span-1">
            <button nz-button class="bg-primary-900 h-full w-full
                    font-bold text-[14px] py-2.5 text-white px-[32px]
                    text-center rounded-lg" (click)="reset()">
              Reset
            </button>
          </div>
          <div class="col-span-1">
            <button nz-button class="bg-primary-900 h-full w-full
                    font-bold text-[14px] py-2.5 text-white px-[32px]
                    text-center rounded-lg" (click)="saveProject()">
              Save Changes
            </button>
          </div>
        </div>
        <div class="grow">

        </div>
      </div>
    </form>
  </nz-spin>
</div>

