<div>
  <nz-spin [nzSpinning]="updating">
    <div class="flex justify-between">
      <div class="w-1/2">
        <!--ReadOnly Mode-->
        <div *ngIf="!editMode">
          <div class="pb-[30px]">
            <div class="flex justify-between items-center">
              <div class="text-sm text-gray-500">Project Name</div>
            </div>
            <div class="appearance-none px-0 w-full text-input text-gray-900 bg-transparent border-0">
              {{projectName}}
            </div>
          </div>
          <div class="pb-[30px]">
            <div class="text-sm text-gray-500">Project Description</div>
            <div class="appearance-none px-0 w-full text-input text-gray-900 bg-transparent border-0">
              {{projectDescription}}
            </div>
          </div>
          <div class="mt-20 primary-button">
            <button class="bg-primary-900 h-full
                    font-bold text-[14px] py-2.5 text-white px-[32px]
                    text-center rounded-lg" nz-button (click)="editProject()">
              Edit Project
            </button>
          </div>
        </div>

        <!--Edit Mode-->
        <div *ngIf="editMode">
          <form [formGroup]="validateForm" nz-form>
            <!--Project Name Input-->
            <text-input [fieldRequired]="true" [submittedTry]="submittedTry"
                        errorMessage="Please input your username!"
                        fieldTitle="Project Name" formControlName="project_name"
                        placeholder="Enter username"></text-input>
            <!--Project Description Input-->
            <textarea-input [fieldRequired]="true" [submittedTry]="submittedTry"
                            errorMessage="Please input your project description!"
                            fieldTitle="Project Description" formControlName="description"
                            placeholder="Enter Project Description"></textarea-input>
            <!--Rest & Save button-->
            <div class="mt-20 flex">
              <div class="grid grid-cols-2 gap-12">
                <div class="col-span-1 primary-button">
                  <button class="bg-primary-900 h-full w-full
                    font-bold text-[14px] py-2.5 text-white px-[32px]
                    text-center rounded-lg" nz-button (click)="reset()">
                    Reset
                  </button>
                </div>
                <div class="col-span-1 primary-button">
                  <button class="bg-primary-900 h-full w-full
                    font-bold text-[14px] py-2.5 text-white px-[32px]
                    text-center rounded-lg" nz-button (click)="saveProject()">
                    Save Changes
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div>
        <button (click)="showDeleteConfirm()"
                class="bg-[#ff4d4f] font-bold text-[14px] text-white px-[32px] text-center rounded-lg"
                nz-button nzDanger>Delete Project
        </button>
      </div>
    </div>
  </nz-spin>
</div>

