<div class="my-2">
  <nz-card>
    <div class="flex justify-between items-center">
      <div class="w-1/2">
        <search-bar (filter)="searching($event)" [autoCompleteOptions]="autoCompleteOptions"
                    placeholder="Search User"></search-bar>
      </div>
      <div class="">
        <button (click)="addUserModalOpen()"
                class="bg-primary-900 text-white px-[32px]rounded text-button font-bold" nz-button>Add User
        </button>
      </div>
    </div>
    <div *ngIf="!loadingTable; else loadingTpl" class="my-6">
      <nz-table #filterTable [nzData]="filterUserList"
                nzTableLayout="fixed">
        <thead>
        <tr class="trid">
          <th *ngFor="let column of listOfColumns"
              [nzShowSort]="!(column.sortFn === null)"
              [nzSortDirections]="column.sortDirections"
              [nzSortFn]="column.sortFn"
              [nzSortOrder]="column.sortOrder"
              [nzWidth]="column.width"
              class="lg:text-table-header text-xs">
            {{column.name}}
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of filterTable.data; let i = index" class=" hover:bg-[#F5F5F5]">
          <td class="cursor-pointer lg:text-table-row text-xs">{{ data.username}}</td>
          <td class="cursor-pointer lg:text-table-row text-xs">{{ data.email }}</td>
          <td class="cursor-pointer lg:text-table-row text-xs">
            <div *ngIf="data.status === 'Approved'"
                 class="justify-center text-xs inline-flex font-bold px-3 py-1 bg-green-200 text-green-700 rounded-full min-w-[80px]">
              APPROVED
            </div>
            <div *ngIf="data.status === 'Pending'"
                 class="justify-center text-xs inline-flex font-bold px-3 py-1 bg-orange-200 text-orange-700 rounded-full min-w-[80px]">
              PENDING
            </div>
            <div *ngIf="data.status === 'Rejected'"
                 class="justify-center text-xs inline-flex font-bold px-3 py-1 bg-red-200 text-red-700 rounded-full min-w-[80px]">
              REJECTED
            </div>
          </td>
          <td class="cursor-pointer lg:text-table-row text-xs">
            <div class="flex gap-2 justify-end">
              <button (click)="sendActivationEmail(data.email)" *ngIf="data.status ==='Pending'"
                      [nzTooltipMouseEnterDelay]="0.75"
                      class="bg-green-600 p-2 border-0 text-white rounded text-button material-icons-outlined cursor-pointer"
                      nz-tooltip nzTooltipPlacement="left"
                      nzTooltipTitle="send activation email">
                forward_to_inbox
              </button>
              <button (click)="conformingBlockUser(data.id , data.username)" *ngIf="data.status !== 'Rejected'"
                      [nzTooltipMouseEnterDelay]="0.75"
                      class="bg-red-600 p-2 border-0 text-white rounded text-button material-icons-outlined cursor-pointer"
                      nz-tooltip nzTooltipPlacement="left"
                      nzTooltipTitle="block">
                lock
              </button>
              <button (click)="unblockUser(data.id)" *ngIf="data.status ==='Rejected'" [nzTooltipMouseEnterDelay]="0.75"
                      class="bg-green-600 p-2 border-0 text-white rounded text-button material-icons-outlined cursor-pointer"
                      nz-tooltip nzTooltipPlacement="left"
                      nzTooltipTitle="unblock">
                lock_open
              </button>
              <button (click)="openUserDetailPage(data.id)" [nzTooltipMouseEnterDelay]="0.75"
                      class="bg-blue-600 p-2 border-0 text-white rounded text-button material-icons-outlined cursor-pointer"
                      nz-tooltip nzTooltipPlacement="left"
                      nzTooltipTitle="open">
                open_in_new
              </button>
            </div>
          </td>
        </tr>
        </tbody>
      </nz-table>
    </div>
  </nz-card>
</div>

<ng-template #loadingTpl>
  <nz-skeleton></nz-skeleton>
</ng-template>

<ng-template #prefixIcon>
  <span class=" text-[#52606D] material-icons-outlined text-input">search</span>
</ng-template>

<nz-modal (nzOnCancel)="addUserModalCancel()" [(nzVisible)]="addUserModalVisibility">
  <div *nzModalTitle>
    <div>Add User</div>
  </div>
  <div *nzModalContent>
    <form [formGroup]="addUserModalValidateForm" nz-form>
      <email-input [email]="true" [fieldRequired]="true" [submittedTry]="submittedTry"
                   errorMessage="Please input your email" fieldTitle="Email"
                   formControlName="email" placeholder="email"></email-input>
      <text-input [fieldRequired]="true" errorMessage="Please input your organisation!"
                  [submittedTry]="submittedTry"
                  fieldTitle="Organisation" formControlName="organisation"
                  placeholder="organisation"></text-input>
    </form>

  </div>
  <div *nzModalFooter>
    <button (click)="addUserSendEmail()"
            class="bg-primary-900 text-white px-[32px]rounded text-button font-bold" nz-button>Add & Send Email
    </button>
  </div>
</nz-modal>
