.trid th {
  background-color: #CAE5FF;
  color: black;
  font-weight: 700;
  font-size: 16px;
  padding: 10px;
  border: 1px solid #003169;
}

.trid td {
  border: 1px solid #003169;
  padding: 10px;
}
