<div>
  <div class="font-bold text-[20px]">Request JSON Web Token to call {{projectName}}’s API</div>
  <div class="primary-button mt-3.5 mb-7">
    <button nz-button class="bg-primary-900 h-full
                    font-bold text-[14px] py-2.5 text-white px-[32px]
                    text-center rounded-lg" (click)="requestToken()">
      Request
    </button>
  </div>

  <div>
    <div class="font-bold text-[20px]">Encoded JWT</div>
  </div>

  <div *ngIf="currentSessionToken && currentSessionToken.length > 0">
    <nz-input-group [nzSuffix]="copyIcon" class="w-3/4 bg-[#F5F5F5] border-[#F5F5F5] rounded-md">
      <input type="password" nz-input [ngModel]="currentSessionToken" readonly class="bg-[#F5F5F5]"/>
    </nz-input-group>
  </div>

  <div class="my-6 w-1/2" *ngIf="tokenLog && tokenLog.length > 0">
    <nz-table nzBordered #filterTable [nzData]="tokenLog" class="border-r-003169" [nzShowPagination]="false"
              nzTableLayout="fixed">
      <thead>
      <tr class="trid">
        <th *ngFor="let column of listOfColumns"
            nzAlign='center'
            [nzShowSort]="!(column.sortFn === null)"
            [nzSortOrder]="column.sortOrder"
            [nzSortFn]="column.sortFn"
            [nzWidth]="column.width"
            [nzSortDirections]="column.sortDirections">
          {{column.name}}
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of filterTable.data" class="trid">
        <td class="text-[16px]">{{ data.created  |date : 'dd/MM/y hh:mm'}}</td>
        <td class="text-[16px]">{{ data.expiration |date : 'dd/MM/y hh:mm'}}</td>
        <td class="text-[16px]">{{ data.lastUsed |date : 'dd/MM/y hh:mm' }}</td>
      </tr>
      </tbody>
    </nz-table>
  </div>


</div>

<ng-template #loadingTpl>
  <nz-skeleton></nz-skeleton>
</ng-template>

<ng-template #copyIcon>
  <span class="material-icons-outlined cursor-pointer" (click)="copyToClipBoard()">content_copy</span>
</ng-template>
