<div>
  <div class="text-label w-full text-[#8898aa] mb-4 text-center">Sign Up</div>
  <form nz-form [formGroup]="validateForm">
    <div>
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your email address!">
          <div>
            <input class="rounded py-[10px] px-[12px] text-[#8898aa] shadow-md text-input" placeholder="Email"
                   formControlName="email"
                   nz-input/>
          </div>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div>
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your organisation!">
          <div>
            <input class="rounded py-[10px] px-[12px] text-[#8898aa] shadow-md text-input" placeholder="Organisation"
                   formControlName="organisation" (keydown.enter)='submit()'
                   nz-input/>
          </div>
        </nz-form-control>
      </nz-form-item>
    </div>
  </form>
  <div class="text-center">
    <button (click)="submit()"
            class="bg-primary-900 text-white py-[10px] px-[20px] my-[24px] h-full rounded w-3/4 text-input" nz-button>
      Request Sign Up
    </button>
  </div>
</div>
