<nz-modal (nzOnCancel)="closePreviewModal()" [(nzVisible)]="previewModalVisibility" [nzClassName]="'zero-padding-body'"
          [nzWidth]="1040">
  <div *nzModalTitle>
    <div>Preview New Collection</div>
  </div>
  <div *nzModalContent class="p-0">
    <div class="grid grid-cols-5">
      <div class="col-span-1  py-[24px] pl-[24px]">
        <nz-steps [nzCurrent]="pageNumber" nzDirection="vertical" nzSize="small">
          <nz-step nzTitle="Collection overview"></nz-step>
          <nz-step nzTitle="Collection object"></nz-step>
          <nz-step nzTitle="API Endpoint"></nz-step>
        </nz-steps>
      </div>
      <div class="col-span-4 bg-gray-300 p-[24px]">
        <div [ngSwitch]="pageNumber" class="h-min-[300px]">
          <div *ngSwitchCase="0">
            <ng-container *ngTemplateOutlet="collectionOverview"></ng-container>
          </div>
          <div *ngSwitchCase="1">
            <ng-container *ngTemplateOutlet="collectionObject"></ng-container>
          </div>
          <div *ngSwitchCase="2">
            <ng-container *ngTemplateOutlet="apiEndpoint"></ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *nzModalFooter>
    <div *ngIf="pageNumber === 2">
      <button (click)="pageNumber = pageNumber - 1"
              class="bg-primary-900 text-white px-[32px]rounded text-button font-bold min-w-[100px]" nz-button>Back
      </button>
      <!--Confirm Button for preview-->
      <button (click)="confirmCreateCollection()" *ngIf="isPreview"
              class="bg-primary-900 text-white px-[32px]rounded text-button font-bold min-w-[100px]" nz-button>Confirm
      </button>
      <!--Next button for see existing-->
      <button *ngIf="!isPreview" class="bg-primary-900 text-white px-[32px]rounded text-button font-bold min-w-[100px]"
              disabled nz-button>Next
      </button>
    </div>
    <div *ngIf="pageNumber !== 2">
      <button (click)="pageNumber = pageNumber - 1" [disabled]="pageNumber === 0"
              class="bg-primary-900 text-white px-[32px]rounded text-button font-bold min-w-[100px]" nz-button>Back
      </button>
      <button (click)="pageNumber = pageNumber + 1 ;"
              class="bg-primary-900 text-white px-[32px]rounded text-button font-bold min-w-[100px]" nz-button>Next
      </button>
    </div>
  </div>
</nz-modal>

<!--API Collection Overview-->
<ng-template #collectionOverview>
  <nz-card class="rounded-lg">

    <!--Category-->
    <div class="pb-[30px]">
      <div class="text-sm text-gray-500">Category</div>
      <div class="appearance-none px-0 w-full text-input text-gray-900 bg-transparent border-0">
        {{singleCategory.category_name}}
      </div>
    </div>

    <!--API Collection Name-->
    <div class="pb-[30px]">
      <div class="text-sm text-gray-500">API Collection Name</div>
      <div class="appearance-none px-0 w-full text-input text-gray-900 bg-transparent border-0">
        {{singleCategory.api_collections[0].api_collection_name}}
      </div>
    </div>

    <!--short description-->
    <div class="pb-[30px]">
      <div class="text-sm text-gray-500">Short Description</div>
      <div class="appearance-none px-0 w-full text-input text-gray-900 bg-transparent border-0">
        {{singleCategory.api_collections[0].short_description}}
      </div>
    </div>

    <!--long description-->
    <div class="pb-[30px]">
      <div class="text-sm text-gray-500">Long Description</div>
      <div
        class="appearance-none px-0 w-full text-input text-gray-900 bg-transparent border-0">{{singleCategory.api_collections[0].description}}</div>
    </div>
  </nz-card>
</ng-template>

<!--API Object-->
<ng-template #collectionObject>
  <nz-card class="rounded-lg">
    <section>
      <!--Object attribute-->
      <div>
        <div class="text-doc-title font-medium">Object Attributes</div>
        <div class="mt-[20px]">
          <div class="text-label text-gray-800 font-medium pb-[12px]">Attributes</div>
          <div *ngFor="let attribute of singleCategory.api_collections[0].object_id.attr_ids"
               class="py-[16px] border-t border-gray-300">
            <!--name & variable type-->
            <div class="flex items-center">
              <div class="text-doc-text font-semibold text-gray-700 mr-[4px]">{{attribute.attr_name}}</div>
              <div class="text-xs font-semibold text-gray-400 mr-[4px]">{{attribute.attr_type}}</div>
            </div>
            <!--description-->
            <div class="text-doc-text text-justify ">{{attribute.attr_description}}</div>
            <div *ngIf="attribute.child_attr_ids" class="mt-[8px]">
              <child-attribute [childObject]="attribute.child_attr_ids" title="child attribute"></child-attribute>
            </div>
          </div>
        </div>
      </div>
      <!--Sample Json-->
      <div class="mt-[20px]">
        <div class="mb-[12px] sticky top-0">
          <!--Header-->
          <div class="px-[12px] py-[10px] text-gray-500 text-xs
              font-medium bg-gray-100 border rounded-t">Sample Json
          </div>
          <!--Content-->
          <div class="flex flex-col gap-[9px] border rounded-b bg-gray-50 max-h-[400px]">
          <pre class="light mb-0"><code
            class="language-json h-[210px] text-xs">{{singleCategory.api_collections[0].object_id.object}}</code></pre>
          </div>
        </div>
      </div>
    </section>
  </nz-card>
</ng-template>

<!--API Endpoints-->
<ng-template #apiEndpoint>
  <nz-card class="rounded-lg">
    <nz-collapse [nzBordered]="false">
      <div *ngFor="let endpoint of singleCategory.api_collections[0].api_ids ; let j = index">
        <nz-collapse-panel [nzActive]="currentEndpoint === j" [nzHeader]="apiCollectionHeader" [nzShowArrow]="false">
          <!--Collapse body-->
          <div>
            <div>
              <!--Endpoint description-->
              <div class="text-doc-text text-justify">{{endpoint.api_description}}</div>
              <!--parameter attribute-->
              <div class="mt-[20px]">
                <div class="text-label text-gray-800 font-medium pb-[12px]">Parameters</div>
                <div *ngFor="let attribute of endpoint.api_param_ids" class="py-[16px] border-t border-gray-300">
                  <!--name & variable type-->
                  <div class="flex items-center">
                    <div class="text-doc-text font-semibold text-gray-700 mr-[4px]">{{attribute.attr_name}}</div>
                    <div class="text-xs font-semibold text-gray-400 mr-[4px]">{{attribute.attr_type}}</div>
                  </div>
                  <!--description-->
                  <div class="text-doc-text text-justify ">{{attribute.attr_description}}</div>
                  <div class="mt-[8px]" *ngIf="attribute.child_attr_ids">
                    <child-attribute title="child attribute" [childObject]="attribute.child_attr_ids"></child-attribute>
                  </div>
                </div>
                <div *ngIf="endpoint.api_param_ids?.length == 0"
                     class="py-[16px] text-xs text-gray-400 font-normal border-t border-gray-300">
                  No parameters
                </div>
              </div>
              <!--Return-->
              <div class="mt-[20px]">
                <div class="text-label text-gray-800 font-medium pb-[12px]">Return</div>
                <div class="text-doc-text text-justify py-[16px] border-t border-gray-300">{{endpoint.api_return}}</div>
              </div>
              <!--Request Code-->
              <div class="mt-[12px]">
                <div class="text-label text-gray-800 font-medium pb-[12px]">Sample Code</div>
                <code-editor (programmingLanguageChange)="switchLanguage($event)"
                             (programmingLanguageChange)="currentEndpoint = j" *ngIf="!switchingLang"
                             [code]="endpoint.api_req_code" [programmingLanguageOptions]="programmingLanguageOptions"
                             [programmingLanguage]="programmingLanguage"
                             [title]="endpoint.api_method + ' ' + endpoint.api_endpoint "
                             class="mb-[12px]"></code-editor>
              </div>
              <!--Response Json-->
              <div class="mt-[12px]">
                <!--Header-->
                <div
                  class="px-[12px] py-[10px] text-gray-500 text-xs font-medium bg-gray-100 border rounded-t cursor-pointer">
                  Response
                </div>
                <!--Content-->
                <highlightjs [code]="endpoint.api_response_json" extraClass=" "></highlightjs>
              </div>
            </div>
          </div>
          <ng-template #apiCollectionHeader>
            <div (click)="initHighlightJS()" class="flex items-center">
              <div class="m-2 p-2 font-bold text-[10px] w-[80px] h-full text-center rounded-lg
                   {{endpoint.api_method  === 'DELETE'? 'bg-rose-200' : endpoint.api_method === 'GET' ? 'bg-blue-200' :'bg-green-200'}} ">
                {{endpoint.api_method}}
              </div>
              <div class="m-2">
                <div class="font-bold">{{endpoint.api_name}}</div>
                <div class="text-sm text-gray-400">{{endpoint.api_endpoint}}</div>
              </div>
            </div>
          </ng-template>
        </nz-collapse-panel>
      </div>
    </nz-collapse>
  </nz-card>
</ng-template>
