<div class="my-11">
  <div class="flex items-center">
    <div>
      <button nz-button nzType="text" (click)="isProject?  createNewProject(): subscribeNewProduct()"
              class="flex items-center">
        <div class="material-icons-outlined ">add</div>
        <div class="lg:text-[16px] text-[14px]">{{isProject ? 'Create New Project' : 'Subscribe new products'}}</div>
      </button>
    </div>
    <div class="ml-6 w-1/2" *ngIf="isProject">
      <form nz-form [formGroup]="validateForm">
        <nz-form-item class="mb-0">
          <nz-form-control>
            <nz-input-group nzSearch nzSize="large" class="rounded bg-[#F5F5F5] focus:shadow-xl active:shadow-xl "
                            [nzPrefix]="prefixIcon">
              <input class="bg-[#F5F5F5] text-[#52606D]" formControlName="searchKey"
                     placeholder="Search Project" nz-input/>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </form>
    </div>
  </div>

  <div class="my-6" *ngIf="!loadingTable; else loadingTpl">
    <nz-table *ngIf="isProject" nzBordered #filterTable [nzData]="filteredProjectData"
              nzTableLayout="fixed">
      <thead>
      <tr class="trid">
        <th *ngFor="let column of listOfColumns"
            nzAlign='center'
            [nzShowSort]="!(column.sortFn === null)"
            [nzSortOrder]="column.sortOrder"
            [nzSortFn]="column.sortFn"
            [nzWidth]="column.width"
            class="lg:text-[20px] text-[12px]"
            [nzSortDirections]="column.sortDirections">
          {{column.name}}
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of filterTable.data; let i = index" class="bg-[#CAE5FF] hover:bg-[#10064D]">
        <td class="cursor-pointer lg:text-[20px] text-[12px]" (click)="openProjectDetailPage(data.id)">{{ i + 1}}</td>
        <td (click)="openProjectDetailPage(data.id)"
            class="cursor-pointer lg:text-[20px] text-[12px]">{{ data.project_name }}</td>
        <td (click)="openProjectDetailPage(data.id)"
            class="cursor-pointer lg:text-[20px] text-[12px]">{{ data.description }}</td>
        <td class="cursor-pointer lg:text-[20px] text-[12px]"
            (click)="openProjectDetailPage(data.id)">{{ data.createdAt |date : 'd MMMM y' }}</td>
        <td class="lg:text-[20px] text-[12px] group">
          <div class="flex items-center justify-between">
            <div
              class="cursor-default lg:text-[20px] text-[12px] truncate ">**************
            </div>
            <div class="flex gap-1">
              <div (click)="tokenModelVisibility = !tokenModelVisibility"
                   class="material-icons-outlined cursor-pointer invisible
                          group-hover:visible lg:text-[20px] text-[12px]">visibility
              </div>
              <div
                (click)="copyToClipBoard(data.token)"
                class="material-icons-outlined cursor-pointer invisible group-hover:visible lg:text-[20px] text-[12px]">
                content_copy
              </div>
            </div>
          </div>
          <nz-modal (nzOnCancel)="handleCloseModel()" [nzVisible]="tokenModelVisibility" nzTitle="Project Token">
            <div *nzModalContent>
              <div>
                <form *ngIf="!showToken" [formGroup]="validateForm" nz-form>
                  <div class="text-[18px] font-bold mb-1">Password :</div>
                  <nz-form-item class="mb-0">
                    <nz-form-control>
                      <nz-input-group class="rounded bg-[#F5F5F5] focus:shadow-xl active:shadow-xl" nzSearch
                                      nzSize="large">
                        <input (keydown.enter)='retrieveToken()'
                               class="rounded py-[10px] px-[12px] text-[#8898aa] shadow-md" formControlName="password"
                               nz-input placeholder="Password" type="password"/>
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>
                </form>
                <div *ngIf="showToken" class="text-[14px]">{{data.token}}</div>
              </div>
            </div>
            <div *nzModalFooter>
              <button (click)="retrieveToken()" *ngIf="!showToken" nz-button nzType="primary">Submit</button>
              <button (click)="handleCloseModel()" *ngIf="showToken" nz-button nzType="primary">Close</button>
            </div>
          </nz-modal>
        </td>
      </tr>
      </tbody>
    </nz-table>
    <nz-table *ngIf="!isProject" nzBordered #filterTable [nzData]="filteredApiCollectionData"
              nzTableLayout="fixed">
      <thead>
      <tr class="trid">
        <th *ngFor="let column of listOfColumns"
            nzAlign='center'
            [nzShowSort]="!(column.sortFn === null)"
            [nzSortOrder]="column.sortOrder"
            [nzSortFn]="column.sortFn"
            [nzWidth]="column.width"
            [nzSortDirections]="column.sortDirections">
          {{column.name}}
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of filterTable.data; let i = index" class="bg-[#CAE5FF] hover:bg-[#10064D] cursor-pointer">
        <td class="text-base">{{ i + 1 }}</td>
        <td class="text-base">{{ data.api_collection_name }}</td>
        <td class="text-base">{{ data.status }}</td>
      </tr>
      </tbody>
    </nz-table>
  </div>
</div>

<ng-template #loadingTpl>
  <nz-skeleton></nz-skeleton>
</ng-template>

<ng-template #prefixIcon>
  <span class=" text-[#52606D] material-icons-outlined">search</span>
</ng-template>
