#trid th {
  background-color: #10064D;
  color: white;
  font-weight: 700;
  font-size: 20px;
  padding: 10px;
}

table:hover,
tr:hover,
thead:hover {
  background: #78bbfa !important;
}

.ant-table-tbody > tr.ant-table-row:hover > td {
  background: none !important;
}
