<div class="my-11">
  <div class="flex items-center">
    <div class="font-bold text-md">{{isProject ? 'My Projects' : 'Assigned/ Subscribed API Collections'}}</div>
    <div>
      <button nz-button nzType="text" (click)="isProject?  createNewProject(): subscribeNewProduct()"
              class="flex items-center">
        <div class="material-icons-outlined">add</div>
        <div class="text-sm">{{isProject ? 'Create New Project' : 'Subscribe new products'}}</div>
      </button>
    </div>
    <div class="ml-6 w-1/2" *ngIf="isProject">
      <form nz-form [formGroup]="validateForm">
        <nz-form-item class="mb-0">
          <nz-form-control>
            <nz-input-group nzSearch nzSize="large" class="rounded bg-[#F5F5F5] focus:shadow-xl active:shadow-xl "
                            [nzPrefix]="prefixIcon">
              <input class="bg-[#F5F5F5] text-[#52606D]" formControlName="searchKey"
                     placeholder="Search Project" nz-input/>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </form>
    </div>
  </div>

  <div class="my-6" *ngIf="!loadingTable; else loadingTpl">
    <nz-table *ngIf="isProject" nzBordered #filterTable [nzData]="filteredProjectData"
              nzTableLayout="fixed">
      <thead>
      <tr class="trid">
        <th *ngFor="let column of listOfColumns"
            nzAlign='center'
            [nzShowSort]="!(column.sortFn === null)"
            [nzSortOrder]="column.sortOrder"
            [nzSortFn]="column.sortFn"
            [nzWidth]="column.width"
            [nzSortDirections]="column.sortDirections">
          {{column.name}}
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of filterTable.data; let i = index" class="bg-[#CAE5FF] hover:bg-[#10064D]">
        <td class="text-base cursor-pointer" (click)="openProjectDetailPage(data.id)">{{ i + 1}}</td>
        <td class="text-base cursor-pointer" (click)="openProjectDetailPage(data.id)">{{ data.project_name }}</td>
        <td class="text-base cursor-pointer" (click)="openProjectDetailPage(data.id)">{{ data.description }}</td>
        <td class="text-base cursor-pointer"
            (click)="openProjectDetailPage(data.id)">{{ data.createdAt |date : 'd MMMM y' }}</td>
        <td class="text-base">
          <div class="flex items-center justify-between">
            <div class="cursor-default">**************</div>
            <div class="material-icons-outlined cursor-pointer" (click)="copyToClipBoard(data.token)">content_copy</div>
          </div>
        </td>
      </tr>
      </tbody>
    </nz-table>
    <nz-table *ngIf="!isProject" nzBordered #filterTable [nzData]="filteredApiCollectionData"
              nzTableLayout="fixed">
      <thead>
      <tr class="trid">
        <th *ngFor="let column of listOfColumns"
            nzAlign='center'
            [nzShowSort]="!(column.sortFn === null)"
            [nzSortOrder]="column.sortOrder"
            [nzSortFn]="column.sortFn"
            [nzWidth]="column.width"
            [nzSortDirections]="column.sortDirections">
          {{column.name}}
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of filterTable.data" class="bg-[#CAE5FF] hover:bg-[#10064D] cursor-pointer">
        <td class="text-base">{{ data.no }}</td>
        <td class="text-base">{{ data.apiCollectionName }}</td>
        <td class="text-base">{{ data.status }}</td>
      </tr>
      </tbody>
    </nz-table>
  </div>
</div>

<ng-template #loadingTpl>
  <nz-skeleton></nz-skeleton>
</ng-template>

<ng-template #prefixIcon>
  <span class=" text-[#52606D] material-icons-outlined">search</span>
</ng-template>
