<div>
  <div class="font-bold text-[20px]">Api Log Access</div>
  <div class="my-6" *ngIf="!loadingTable; else loadingTpl">
    <nz-table #filterTable [nzData]="tableData"
              nzTableLayout="fixed">
      <thead>
      <tr class="trid">
        <th *ngFor="let column of listOfColumns"
            [nzShowSort]="!(column.sortFn === null)"
            [nzSortOrder]="column.sortOrder"
            [nzSortFn]="column.sortFn"
            [nzWidth]="column.width"
            class="lg:text-table-header text-xs"
            [nzSortDirections]="column.sortDirections">
          {{column.name}}
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of filterTable.data" class="trid">
        <td class="lg:text-table-row text-xs">{{ data.timestamp  |date : 'dd/MM/y hh:mm'}}</td>
        <td class="lg:text-table-row text-xs">{{ data.api }}</td>
        <td class="lg:text-table-row text-xs">{{ data.method }}</td>
        <td class="lg:text-table-row text-xs">{{ data.responseSize}}</td>
        <td class="lg:text-table-row text-xs">{{ data.responseTime }}</td>
        <td class="lg:text-table-row text-xs">{{ data.status }}</td>
      </tr>
      </tbody>
    </nz-table>
  </div>
</div>
<ng-template #loadingTpl>
  <nz-skeleton></nz-skeleton>
</ng-template>
