<div>
  <div class="font-bold text-[20px]">Api Log Acess</div>
  <div class="my-6" *ngIf="!loadingTable; else loadingTpl">
    <nz-table nzBordered #filterTable [nzData]="tableData"
              nzTableLayout="fixed">
      <thead>
      <tr class="trid">
        <th *ngFor="let column of listOfColumns"
            nzAlign='center'
            [nzShowSort]="!(column.sortFn === null)"
            [nzSortOrder]="column.sortOrder"
            [nzSortFn]="column.sortFn"
            [nzWidth]="column.width"
            [nzSortDirections]="column.sortDirections">
          {{column.name}}
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of filterTable.data" class="cursor-pointer">
        <td class="text-base">{{ data.timestamp  |date : 'd/MM/y hh:mm'}}</td>
        <td class="text-base">{{ data.api }}</td>
        <td class="text-base">{{ data.method }}</td>
        <td class="text-base">{{ data.responseSize}}</td>
        <td class="text-base">{{ data.responseTime }}</td>
        <td class="text-base">{{ data.status }}</td>
      </tr>
      </tbody>
    </nz-table>
  </div>
</div>
<ng-template #loadingTpl>
  <nz-skeleton></nz-skeleton>
</ng-template>
