<div class="my-2">
  <nz-card>
    <div class="flex justify-between items-center">
      <div class="w-1/2">
        <search-bar (filter)="searching($event)" placeholder="Search Notification"></search-bar>
      </div>
      <div class="">
        <button class="bg-primary-900 text-white px-[32px]rounded text-button font-bold" (click)="openNotificationDrawerCreate()"
                nz-button>Add Notification
        </button>
      </div>
    </div>
    <div *ngIf="!loadingTable; else loadingTpl" class="my-6">
      <nz-table #filterTable [nzData]="filterNotificationList"
                nzTableLayout="fixed">
        <thead>
        <tr class="trid">
          <th *ngFor="let column of listOfColumns"
              [nzShowSort]="!(column.sortFn === null)"
              [nzSortDirections]="column.sortDirections"
              [nzSortFn]="column.sortFn"
              [nzSortOrder]="column.sortOrder"
              [nzWidth]="column.width"
              class="lg:text-table-header text-xs">
            {{column.name}}
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of filterTable.data; let i = index" class=" hover:bg-[#F5F5F5]">
          <td class="cursor-pointer lg:text-table-row text-xs">{{ data.title}}</td>
          <td class="cursor-pointer lg:text-table-row text-xs">{{ data.description }}</td>
          <td class="cursor-pointer lg:text-table-row text-xs">{{ data.startDate| date }}</td>
          <td class="cursor-pointer lg:text-table-row text-xs">{{ data.endDate| date }}</td>
          <td class="cursor-pointer lg:text-table-row text-xs">
            <div class="flex gap-2 justify-end">
              <button
                (click)="openDeleteNotificationModal(data.id)"
                class="bg-red-600 p-2 border-0 text-white rounded text-button material-icons-outlined cursor-pointer">
                block
              </button>
              <button
                class="bg-blue-600 p-2 border-0 text-white rounded text-button material-icons-outlined cursor-pointer">
                open_in_new
              </button>
            </div>
          </td>
        </tr>
        </tbody>
      </nz-table>
    </div>
  </nz-card>
</div>

<ng-template #loadingTpl>
  <nz-skeleton></nz-skeleton>
</ng-template>

<nz-drawer
  (nzOnClose)="closeNotificationDrawer()" [nzFooter]="footerTpl"
  [nzTitle]="'Create Notification'"
  [nzVisible]="createNotificationDrawerVisibility" nzPlacement="right"
  nzSize="large">
  <ng-container *nzDrawerContent>
    <div *ngIf="!loadingEditNotificationDrawer ; else loadingTpl">
      <form [formGroup]="validateForm" nz-form>
        <!--Title-->
        <div>
          <nz-form-item class="flex items-center">
            <nz-form-label nzFor="title" nzRequired>Title</nz-form-label>
            <nz-form-control nzErrorTip="Please input title">
              <input class="rounded py-[10px] px-[12px] text-[#8898aa] text-input shadow-md" formControlName="title"
                     id="title" nz-input placeholder="Email"/>
            </nz-form-control>
          </nz-form-item>
        </div>
        <!--Project Description-->
        <div>
          <nz-form-item class="flex items-center">
            <nz-form-label nzFor="description">Description</nz-form-label>
            <nz-form-control nzErrorTip="Please input your project description!">
              <div class="">
              <textarea class="rounded  text-input" formControlName="description" nz-input
                        placeholder="Enter Project Description"
                        rows="4"></textarea>
              </div>
            </nz-form-control>
          </nz-form-item>
        </div>
        <!--Select Date-->
        <div>
          <nz-form-item class="flex items-center">
            <nz-form-label nzRequired>Period</nz-form-label>
            <nz-form-control>
              <nz-range-picker formControlName="rangeDate" nzShowTime></nz-range-picker>
            </nz-form-control>
          </nz-form-item>
        </div>
        <!--Color-->
        <div class="mb-[10px]">
          <div class="font-bold text-doc-title">Color</div>
          <div class="flex items-center gap-3">
            <div (click)="changeColor('green')"
                 class="cursor-pointer h-[40px] w-[40px] rounded-md hover:border-2 hover:border-solid hover:p-[4px] border-sky-600
                    {{notificationColor === 'green' ? 'p-[4px] border border-solid border-2': ''}}">
              <div class="bg-green-400 h-full w-full"></div>
            </div>
            <div (click)="changeColor('yellow')"
                 class="cursor-pointer h-[40px] w-[40px] rounded-md hover:border-2 hover:border-solid hover:p-[4px] border-sky-600
                    {{notificationColor === 'yellow' ? 'p-[4px] border border-2 border-solid': ''}}">
              <div class="bg-yellow-400 h-full w-full"></div>
            </div>
            <div (click)="changeColor('red')"
                 class="cursor-pointer h-[40px] w-[40px] rounded-md hover:border-2 hover:border-solid hover:p-[4px] border-sky-600
                    {{notificationColor === 'red' ? 'p-[4px] border border-2 border-solid': ''}}">
              <div class="bg-rose-400 h-full w-full"></div>
            </div>
          </div>
        </div>
      </form>
      <rich-text-editor [(htmlContent)]="htmlContent"></rich-text-editor>
    </div>
  </ng-container>
</nz-drawer>
<ng-template #footerTpl>
  <div class="flex justify-end">
    <button (click)="createSaveNotification()"
            class="bg-primary-900 text-white px-[32px] rounded text-button font-bold"
            nz-button>Create</button>
  </div>
</ng-template>
