.div {
  height: auto;
}

[nz-carousel-content] {
  height: auto !important;
  overflow: hidden;
}

nz-carousel {
  height: auto !important;
}

.slick-track {
  height: auto !important;
}

.slick-list {
  height: auto !important;
}

