.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

nz-content {
  min-height: 360px;
  background: #fff;
}

.right-layout {
  margin-left: 200px;
}

::-webkit-scrollbar {
  width: 1px;
}
