<div>
  <div class="text-[12px] w-full text-[#8898aa] mb-4 text-center">Password Set Up</div>
  <form nz-form [formGroup]="validateForm">
    <div>
      <nz-form-item>
        <nz-form-control nzErrorTip="Week Password">
          <div>
            <input class="rounded py-[10px] px-[12px] text-[#8898aa]" placeholder="Password"
                   formControlName="password" type="password" nz-input/>
          </div>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div>
      <nz-form-item>
        <nz-form-control nzErrorTip="Password not match">
          <div>
            <input class="rounded py-[10px] px-[12px] text-[#8898aa]" placeholder="Reenter Password"
                   formControlName="repassword" type="password" nz-input/>
          </div>
        </nz-form-control>
      </nz-form-item>
    </div>
  </form>
  <div class="text-center">
    <button nz-button class="bg-primary-900 text-white py-[10px] px-[20px] my-[24px] h-full rounded" (click)="submit()">
      Set Up Password
    </button>
  </div>
</div>
