<div>
  <div class="text-label w-full text-[#8898aa] mb-4 text-center">Password Set Up</div>
  <form nz-form [formGroup]="validateForm">
    <div>
      <nz-form-item [nzTooltipTitle]="titleTemplate" nz-tooltip nzTooltipColor="#F3F4F6" nzTooltipPlacement="right"
                    nzTooltipTrigger="focus">
        <nz-form-control>
          <nz-input-group [nzSuffix]="passwordSuffix" class="rounded py-[10px] px-[12px] ">
            <input [type]="isShowPassword ? 'text' : 'password'" class="p-0 text-[#8898aa] text-input"
                   formControlName="password"
                   nz-input
                   placeholder="Password"/>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div>
      <nz-form-item>
        <nz-form-control nzErrorTip="Password not match">
          <nz-input-group [nzSuffix]="confirmPasswordSuffix" class="rounded py-[10px] px-[12px] ">
            <input (keydown.enter)='submit()' [type]="isShowConfirmPassword ? 'text' : 'password'"
                   class="p-0 text-[#8898aa] text-input"
                   formControlName="repassword"
                   nz-input placeholder="Reenter Password"/>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </div>
  </form>
  <div class="text-center">
    <button (click)="submit()"
            class="bg-primary-900 text-white py-[10px] px-[20px] my-[24px] h-full rounded w-3/4 text-button" nz-button>
      Set Up Password
    </button>
  </div>
</div>

<ng-template #titleTemplate>
  <div>
    <div *ngFor="let condition of passwordStrength | keyvalue" class="flex items-center gap-2">
      <span *ngIf="condition.value" class="material-icons-outlined text-sm text-success">check</span>
      <span *ngIf="!condition.value" class="material-icons-outlined text-sm text-danger">close</span>
      <div class="{{condition.value ? 'text-success' : 'text-danger'}}">{{condition.key}}</div>
    </div>
  </div>
</ng-template>
<ng-template #passwordSuffix>
    <span (click)="isShowPassword = !isShowPassword"
          class="material-icons-outlined cursor-pointer text-gray-600">{{isShowPassword ? 'visibility_off' : 'visibility'}}</span>
</ng-template>
<ng-template #confirmPasswordSuffix>
    <span (click)="isShowConfirmPassword = !isShowConfirmPassword"
          class="material-icons-outlined cursor-pointer text-gray-600">{{isShowConfirmPassword ? 'visibility_off' : 'visibility'}}</span>
</ng-template>
