<div class="container mx-auto py-5">
  <div class="flex items-center">
    <div class="">
      <img class="h-[60px] w-auto cursor-pointer" src="assets/images/header/skyworldLogo.png" (click)="redirect('dashboard')"/>
    </div>
    <div class="grow ml-5 flex justify-end items-center" *ngIf="staticLogined">
      <div class="text-white px-10 cursor-pointer" (click)="redirect('product')">
        Product
      </div>
      <div class="text-white px-10 cursor-pointer" (click)="redirect('guide')">
        Guide
      </div>
      <div class="text-white px-10 cursor-pointer" (click)="redirect('profile')">
        <span class="material-icons-outlined text-[45px]">person</span>
      </div>
    </div>
  </div>

</div>
