<div class="border border-gray-400 rounded">
  <!--title-->
  <div class="flex items-center text-gray-500 font-medium py-[6px]
                    px-[10px] border-b border-gray-300" (click)="toggleCloseChild()">
    <div class="text-[13px] material-icons-outlined">{{ closeChild ? 'add' : 'close'}}</div>
    <div
      class="text-[13px] ml-[4px] cursor-pointer">{{ closeChild ? "Show " : "Hide " }}{{isEnum ? 'Possible Enum' : title}}</div>
  </div>
  <!--Attribute -->
  <div class="p-[12px] border-b border-gray-300 {{closeChild? 'hidden':''}}" *ngFor="let attribute of childObject">
    <div class="flex items-center">
      <div class="text-[13px] font-semibold text-gray-700 mr-[4px]">{{attribute.attr_name}}</div>
      <div *ngIf="!isEnum" class="text-[12px] font-semibold text-gray-400 mr-[4px]">{{attribute.attr_type}}</div>
    </div>
    <div class="text-[14px] text-justify">{{attribute.attr_description}}</div>

    <div class="mt-[8px]" *ngIf="attribute.child_attr_ids">
      <child-attribute [childObject]="attribute.child_attr_ids" [isEnum]="attribute.attr_type === 'enum'"
                       title="child attributes"></child-attribute>
    </div>
  </div>


</div>

