<div>
  <form [formGroup]="validateForm" nz-form>

    <!--Username-->
    <div class="font-bold text-label">Enter Old Password</div>
    <div class="">
      <nz-form-item class="grid w-1/4">
        <nz-form-control nzErrorTip="Please input your old password!">
          <input class="rounded bg-[#D9D9D9] text-input" formControlName="password" type="password"
                 nz-input/>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div class="mt-4 font-bold text-label">Enter New Password</div>
    <div class="">
      <nz-form-item class="grid w-1/4">
        <nz-form-control nzErrorTip="Weak Password!">
          <input class="rounded bg-[#D9D9D9] text-input" formControlName="newPassword" type="password"
                 nz-input/>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div class="mt-4 font-bold text-label">Reenter New Password</div>
    <div class="">
      <nz-form-item class="grid w-1/4">
        <nz-form-control nzErrorTip="Password not match!">
          <input class="rounded bg-[#D9D9D9] text-input" formControlName="rePassword" type="password"
                 nz-input/>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div class="mt-4 flex">
      <div class="primary-button">
        <button nz-button class="bg-primary-900 h-full w-full
                        font-bold text-button text-white px-[32px]
                        text-center rounded-lg" (click)="resetPassword()">
          Save
        </button>
      </div>
    </div>
  </form>
</div>
