<div *ngIf="!loading">
  <div class="rounded-t flex items-center justify-between bg-[#3c4257]">
    <div class="text-[12px] font-medium pr-[12px] pl-[8px] py-[8px] text-white">{{title}}</div>
    <div class="flex items-center">
      <div class="content-center">
        <nz-select [ngModel]="programmingLanguage" nzBorderless class="text-white">
          <nz-option *ngFor="let language of programmingLanguageOptions" [nzValue]="language"
                     (click)="switchLanguage(language)" [nzLabel]="language"></nz-option>
        </nz-select>
      </div>
      <div class="px-[12px]">
        <span class=" text-white material-icons-outlined text-[18px] cursor-pointer" (click)="copyToClipBoard()">content_copy</span>
      </div>
    </div>
  </div>
  <div class="">
    <pre class="dark"><code class="language-java text-[13px] rounded-b">{{code}}</code></pre>
  </div>
</div>

