<div *ngIf="!loading">
  <div class="rounded-t flex items-center justify-between bg-[#3c4257]">
    <div class="text-xs font-medium pr-[12px] pl-[8px] py-[8px] text-white">{{title}}</div>
    <div class="flex items-center">
      <div class="content-center">
        <nz-select #mySelect [ngModel]="programmingLanguage" (ngModelChange)="switchLanguage($event)" nzBorderless
                   class="text-white" (nzOpenChange)="_setWidth()">
          <nz-option *ngFor="let language of programmingLanguageOptions" [nzValue]="language.value"
                     [nzLabel]="language.label"></nz-option>
        </nz-select>
      </div>
      <div class="px-[12px]">
        <span (click)="copyToClipBoard()" class=" text-white material-icons-outlined text-label cursor-pointer">content_copy</span>
      </div>
    </div>
  </div>
  <div class="max-h-[200px]">
    <pre class="dark"><code
      class="language-{{programmingLanguage}} text-xs rounded-b max-h-[200px]">{{code}}</code></pre>
  </div>
</div>

