<div class="container mx-auto">
  <div class="font-bold text-[58px] py-[18px]">Guide</div>
  <div class="grid grid-cols-7">
    <div class="col-span-2 border">
      <div class="py-[18px] px-4 h-full">
        <div class="font-bold text-xl">Quick Start Guide</div>
        <div>
          <ul>
            <li *ngFor="let guide of guideQNAList" class="cursor-pointer">{{guide.title}}</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-span-5 border">
      <div class="">

      </div>
    </div>
  </div>
</div>
