<div class="h-screen bg-gray-100">
  <div class="bg-primary-900">
    <admin-header></admin-header>
  </div>

  <div class="container md:mx-auto md:px-0 px-[20px]">
    <div class="grid grid-cols-3 gap-6 my-4 ">
      <!--Total User-->
      <nz-card class="rounded-3xl div-full">
        <div class="flex flex-col h-full">
          <div class="flex justify-between items-center">
            <div>Total User</div>
            <div class="">
              <nz-select (ngModelChange)="getTotalUser()" [(ngModel)]="selectedTotalUserDayOption">
                <nz-option *ngFor="let option of totalUserDayOption" [nzValue]="option"
                           nzLabel="{{option + ' Days'}}"></nz-option>
                <nz-option [nzValue]="0" nzLabel="All Days"></nz-option>
              </nz-select>
            </div>
          </div>
          <div class="my-2 text-title flex grow gap-2 items-center">
            <div *ngIf="!loadingTotalUser; else singleLoadingTpl" class="text-[48px]">{{totalUser}}</div>
            <div>
              <img height="50" src="https://media-public.canva.com/9a-iI/MAB1WI9a-iI/2/tl.png">
            </div>
          </div>
        </div>
      </nz-card>
      <!--User Statistic-->
      <nz-card class="col-span-2 rounded-3xl	">
        <canvasjs-chart [options]="chartOptions" class="flex h-[150px]"></canvasjs-chart>
      </nz-card>
    </div>

    <user-table></user-table>
  </div>
</div>

<ng-template #singleLoadingTpl>
  <nz-skeleton-element [nzActive]="true" nzType="button"></nz-skeleton-element>
</ng-template>
