/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  ::before,
  ::after {
    border-width: 0;
    border-style: solid;
    border-color: theme('borderColor.DEFAULT', currentColor);
  }
}

.big-checkbox .ant-checkbox-checked .ant-checkbox-inner {
  width: 24px;
  height: 24px;
}

.big-checkbox .ant-checkbox-inner {
  width: 24px;
  height: 24px;
}

.big-checkbox .ant-checkbox-inner::after {
  width: 9.714286px;
  height: 18.142857px;
}

.big-checkbox .ant-checkbox-inner::before {
  width: 9.714286px;
  height: 18.142857px;
}

.button-focus .ant-btn:focus {
  background-color: #59C3FF;
  color: black;
  border: 1px solid black;
}

.primary-button .ant-btn:focus {
  background-color: #10064D;
  color: white;
  border: 1px solid black;
}

.border-r-003169 .ant-table-content {
  border: 0 solid #003169;
  border-right-width: 1px;
}

.not-found {
  nz-result-not-found {
    display: flex;
    justify-content: center;
  }
}

.div-full .ant-card-body {
  height: 100%;
}
