<div class="flex gap-2 mb-4">
  <button (click)="changeByAlphabet(alphabet)" *ngFor="let alphabet of alphabetArray"
          class="inline-flex cursor-pointer items-center justify-center text-white w-8 h-8 mr-2 transition-colors duration-150 rounded-full focus:shadow-outline border-0
              {{selectedAlphabet === alphabet ? 'bg-sky-400  hover:bg-sky-500' :'bg-gray-400  hover:bg-gray-500' }}">
    {{alphabet}}
  </button>
</div>
<nz-collapse *ngIf="!loadingAccessControl; else loadingAccessControlTpl" [nzBordered]="false">
  <div *ngFor="let category of apiCategoryList ; let j = index">
    <nz-collapse-panel *ngIf="category.api_collections.length > 0 " [nzActive]="category.isActive"
                       [nzHeader]="apiCollectionHeader" [nzShowArrow]="false">

      <div class="pb-[24px]">
        <div class="grid grid-cols-3 gap-4">
          <div *ngFor="let apiCollection of category.api_collections ; let i = index "
               class="rounded-3xl pl-4 {{ randomColorsArray[i % 10]}}">
            <nz-card
              (click)="editAccessControl(apiCollection.id, apiCollection.api_collection_name,apiCollection.isActive)"
              class="rounded-r-[1.3rem] border-2 cursor-pointer">
              <nz-spin [nzIndicator]="indicatorTemplate" [nzSpinning]="!apiCollection.isActive">
                <div class="flex justify-between">
                  <div class="flex gap-x-4">
                    <div class="font-bold text-subtitle">{{apiCollection.api_collection_name}}</div>
                  </div>
                </div>
                <div class="text-sm  min-h-[75px]">{{apiCollection.short_description}}</div>
                <nz-divider></nz-divider>
                <div class="flex justify-between">
                  <div>
                    <span>Created </span>
                    <span class="font-bold">{{apiCollection.createdAt | date: 'MMM d, y'}}</span>
                  </div>
                  <div class="justify-end">{{apiCollection.count}} Endpoints</div>
                </div>
              </nz-spin>
            </nz-card>
          </div>
        </div>
      </div>
      <ng-template #apiCollectionHeader>
        <div class="flex items-center gap-4 p-4 cursor-pointer">
          <div>
            <nz-avatar class="border border-solid border-gray-900" nzIcon="user"
                       nzSrc="{{category.image_url || emptyIconUrl}}"></nz-avatar>
          </div>
          <div class="text-doc-title">{{category.category_name}}</div>
        </div>
      </ng-template>
    </nz-collapse-panel>
  </div>
  <div *ngIf="apiCategoryList.length == 0">
    <nz-empty nzNotFoundImage="simple"></nz-empty>
  </div>
</nz-collapse>

<ng-template #loadingAccessControlTpl>
  <nz-skeleton></nz-skeleton>
</ng-template>

<ng-template #indicatorTemplate>
  <div class="flex items-center justify-center h-full">
    <span class="material-icons-outlined text-title text-gray-400">lock</span>
  </div>
</ng-template>

