<div class="h-screen">
  <div class="bg-primary-900">
    <app-header></app-header>
  </div>
  <div class="mx-auto container">
    <div class="my-10">
      <form [formGroup]="validateForm" nz-form>
        <div>
          <div class="text-label my-2">Project Name</div>
          <nz-form-item class="grid w-3/4 ">
            <nz-form-control nzErrorTip="Please input your project name!">
              <input class="rounded bg-[#D9D9D9] text-input" formControlName="project_name" nz-input
                     placeholder="Enter Project Name"/>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="my-10">
          <nz-form-item class="grid w-3/4">
            <div class="text-label my-2">Project Description</div>
            <nz-form-control nzErrorTip="Please input your project description!">
              <div class="">
              <textarea class="rounded bg-[#D9D9D9] text-input" formControlName="description" nz-input rows="4"
                        placeholder="Enter Project Description"></textarea>
              </div>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div class="my-10">
          <nz-form-item *ngIf="!loadingForm else loadingTpl" class="grid w-3/4">
            <div class="text-subtitle my-2">Select API Collection List</div>
            <nz-form-control>
              <nz-checkbox-wrapper (nzOnChange)="updateSelectedApiCollection($event)" class="w-full">
                <div *ngFor=" let api of apiCollection">
                  <div class="text-label">{{api.category_name}}</div>
                  <div *ngFor="let singleApi of api.api_collections" class="my-[10px]">
                    <div class="flex items-center big-checkbox">
                      <div [nzValue]="singleApi.id" nz-checkbox></div>
                      <div class="ml-[8px]">
                        <div class="text-sm text-[#616161]">{{singleApi.api_collection_name}}</div>
                        <div class="text-xs text-[#7B8794] text-justify">{{singleApi.description}}</div>
                      </div>
                    </div>
                  </div>
                </div>
              </nz-checkbox-wrapper>
            </nz-form-control>
          </nz-form-item>
        </div>
      </form>

      <div class="my-4">
        <button (click)="submit()" class="bg-primary-900 h-full
                    font-bold text-button text-white px-[32px]
                    text-center rounded-lg" nz-button>
          Submit
        </button>
      </div>
    </div>
  </div>
</div>
<ng-template #loadingTpl>
  <nz-skeleton></nz-skeleton>
</ng-template>
